@use '../tools-sass/' as *;

.container {
  gap: 3rem;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1430px;
  // min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 3.75rem 0;
  // align-items: center;
  justify-content: center;
}

.card {
  flex-grow: 1;
  max-width: 450px;
  flex-basis: 280px;
  padding-bottom: 2.5rem;
  background-color: #fff;

  &__content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  &__picture {
    // width: 90%;
    bottom: 1.5em;
    margin: 0 auto;
    position: relative;
    background-color: cornflowerblue;
  }

  &__img {
    object-fit: cover;
    aspect-ratio: 1 / .7;
    object-position: left;
  }

  &__logo-caja-social {
    top: 3px;
    left: 10px;
    width: 70%;
    position: absolute;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__description {
    margin-bottom: 1.5rem;
  }

  &__link {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: .5rem 1.5rem;
    align-self: flex-start;
    background-color: #0279d3;
  }


}

